APP_WEB_PORT=3300
APP_API_PORT=8180
SQLSERVER_SA_PASSWORD=Change_this_password_123!
PUBLIC_WEB_ACTOR_NAME=web-dev
AUTH_ENABLED=false
FILESERVER_MONITOR_API_KEY=Change_this_api_key_123!
FILESERVER_MONITOR_ADMIN_API_KEY=Change_this_admin_api_key_123!
AGENTS_STALE_MINUTES=10
AGENTS_BACKLOG_WARNING_THRESHOLD=1000
NOTIFICATIONS_ENABLED=false
NOTIFICATIONS_WEBHOOK_URL=
NOTIFICATIONS_FORMAT=generic
NOTIFICATIONS_MINIMUM_SEVERITY=critical
RETENTION_ENABLED=false
RETENTION_EVENTS_DAYS=180
RETENTION_ALERTS_DAYS=365
RETENTION_INTERVAL_HOURS=24
RETENTION_PURGE_BATCH_SIZE=10000
